<header id="header-nav" class="fixed w-screen py-4 z-50 top-0 px-8">
  <div class="grid grid-cols-3 max-w-7xl mx-auto justify-between items-center">
    <a href="/" class="col-span-1">
      <img src="/logo.png" alt="logo" class="w-10 h-auto" />
    </a>

    <nav class="col-span-1 justify-self-center">
      <ul class="flex gap-4">
        <li>
          <a class="hover:underline" href="">INFO</a>
        </li>

        <li>
          <a class="hover:underline" href="">ARCHIVO</a>
        </li>
      </ul>
    </nav>

    <a class="border rounded-full inline-block py-2 px-4 justify-self-end" href="">
      ESLAND: EL DOCUMENTAL</a
    >
  </div>
</header>
